#msg pre {
    max-width: 40rem;
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 1rem auto;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #633;
    text-align: left;
    margin-top: 4rem;
}

#msg {
    max-width: 90%;
    margin: auto;
}
