ca@font-face {
    font-family: 'Source Code Pro';
    src: url('/font/SourceCodePro-Regular.ttf');
    color: #28272a;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link {
    color: #354e7e;
}

/* visited link */
a:visited {
    color: #354e7e;
}

/* mouse over link */
a:hover {
    color: #ec5d14;
}

/* selected link */
a:active {
    color: #354e7e;
}

body {
    font-family: 'Source Code Pro', Monaco, monospace;
    background: #faf8f5;
}

#header {
    font-size: 1.5em;
    font-weight: 700;
    margin: 8 0 4 12px;
    display: inline-flex;
}

#header .name {
    float: left;
}

#header .navi {
    font-size: 0.6em;
    margin: 8 0 0 32px;
}

#header .navi span {
    border-left: 1px solid #28272a;
    padding-left: 8px;
}

:hover {
    transition: all 0.5s ease;
}

.last {
    border-right: 1px solid #28272a;
    padding-right: 8px;
}

.subtitle {
    color: #788fb3;
    margin: 2 0 4 12px;
    font-size: 0.8em;
}

/* ---- grid ---- */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    float: left;
    width: 220px;
    /* height: 160px; */
    background-color: #fefefe;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 5px;
    box-shadow: 1px 2px hsla(0, 0%, 0%, 0.3);
    counter-increment: item;
    margin: 6px;
    padding: 6px;
}

.grid-item:hover{
    background-color: #faf8f5;
}

/* .grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 240px; } */
.grid-item .header {
    display: inline-block;
    margin-bottom: 2px;
    min-width: 97%;
}

.grid-item .header .title {
    float: left;
}

.grid-item .header .watchers {
    padding-top: 4px;
    position: absolute;
    top: 4px;
    right: 9px;
}

.grid-item .lang {
    float: right;
    padding: 0px;
    /* position: absolute;
    bottom: 4px;
    right: 4px; */
}

.grid-item .lang img {
    height: 1em;
}
